services:
  - type: web
    name: backend
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app_py_for_leave_management_backend:app
    pythonVersion: 3.10.14
